<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="https://github.com/rehmansohail" target="_blank"><i class="fa fa-github-alt fa-lg" aria-hidden="true" ></i></a>
          <a href="https://www.linkedin.com/in/sohail-rehman-2b4739248/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true" ></i></a>
          <a href="https://medium.com/@sohailmalikraja" target="_blank"><i class="fa fa-medium fa-lg" aria-hidden="true" ></i></a>
          <a href="https://www.instagram.com/reh.mansohail/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true" ></i></a>
        </div>
        <p class="mt-3">
          Made with love by Sohail
        </p>
      </div>
    </div>
  </footer>


</body>

</html>