<%- include("partials/header.ejs") %>

<form action="/submit" method="post">
    <input type="text" id="fname" name="fname" placeholder="Enter the title here"><br><br>
    <textarea type="text" id="lname" name="lname" placeholder="Enter the blog here"></textarea><br><br>
    <input type="submit" value="Submit">
  </form>


<%- include("partials/footer.ejs") %>